<!DOCTYPE html>

<head>
	<link rel="icon" href="./images/favicon7.ico">
	<!-- Bootstrap and CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./styling/admin.css">
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">
	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/2b0956e649.js" crossorigin="anonymous"></script>

	<title>Admin</title>
</head>

<body>
	<div class="edits">
	<p class="navbar-brand edits" href="">SportsHub</p>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
						<form action="/logout" method="GET"><button type="submit" class="btn btn-warning">LOGOUT</button></form>
					</li>
		</ul>
	</div>
	<% if (!msg.flag) { %>
		<div class="alert alert-danger" role="alert"><%= msg.msg %></div>
		<% } else { %> <% if(msg.msg) {%>
		<div class="alert alert-success" role="alert"><%= msg.msg %></div>
		<% } %> <% } %>
	<section id="staff">
		<section class="form my-4 mx-5">
			<div class="container">
			  <div class="row no-gutters">
				<div class="col-lg-7 px-5 pt-3 works">
				  <h4 class="h4-logo">Ground Staff Add</h4>
				  <form
					action="/admin/staff"
					method="POST"
					class="staff"
				  >
					<div class="form-row">
					  <div class="col-lg-12">
						<input
						  type="text"
						  name="firstName"
						  placeholder="Enter First Name"
						  class="form-control my-3 p-4 works"
						  required
						/>
					  </div>
					</div>
					<div class="form-row">
					  <div class="col-lg-12">
						<input
						  type="text"
						  name="lastName"
						  placeholder="Enter Last Name"
						  class="form-control my-3 p-4"
						  required
						/>
					  </div>
					</div>
					<div class="form-row">
					  <div class="col-lg-12">
						<input
						  type="tel"
						  name="phone"
						  placeholder="Enter Phone Number"
						  class="form-control my-3 p-4"
						  required
						/>
					  </div>
					</div>
					<div class="form-row">
					  <div class="col-lg-12">
						<input
						  type="email"
						  name="email"
						  placeholder="Email address"
						  class="form-control my-3 p-4"
						  required
						/>
					  </div>
					</div>
					<div class="form-row">
					  <div class="col-lg-12">
						<input
						  type="password"
						  name="password"
						  placeholder="Enter Password"
						  class="form-control my-3 p-4"
						  required
						/>
					  </div>
					</div>
					<div class="form-row">
					  <div class="col-lg-12">
						<button type="btn" class="btn1 mt-3 mb-5" href="/login">
						  Add
						</button>
					  </div>
					</div>
				  </form>
				</div>
			  </div>
			</div>
		  </section>
	</section>
	<section id="maintenance">
		<section class="form my-4 mx-5">
			<div class="container">
			  <div class="row no-gutters">
				<div class="px-0 pt-3 works">
				<section id="tables">
					<h2>All Grounds:</h2>
					<table class="table table-striped">
						<thead>
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Staff Id</th>
							<th scope="col">Staff Name</th>
							<th scope="col">Stadium Name</th>
							<th scope="col">City</th>
							<th scope="col">Settings</th>
						  </tr>
						</thead>
						<tbody>
						  <% ground.forEach((info,indx) => { %>
							<tr>
								<th scope="row"><%= indx + 1 %> </th>
								<td><%= info.Sid %></td>
								<td><%= info.firstName %></td>
								<td><%= info.name %></td>
								<td><%= info.location %></td>
						  <td>
							<% if (info.available) { %>
								<form action="/admin/maintenance/<%= info.Gid %>/1?_method=PUT" method="POST"><button type="submit" class="maintenancebtn">Maintenance</button></form>
							<% } else {%> 
								<form action="/admin/maintenance/<%= info.Gid %>/<%= info.available %>?_method=PUT" method="POST"><button type="submit" class="maintaining">Maintaining</button></form>
							<% } %>
						</td>
						<% }) %>
							  </tr>
						</tbody>
					  </table>
				</section>
				</div>
			  </div>
			</div>
		  </section>
		  <section id="tables">
			<h2>All Bookings:</h2>
			<table class="table table-striped">
				<thead>
				  <tr>
					<th scope="col">#</th>
					<th scope="col">Stadium</th>
					<th scope="col">City</th>
					<th scope="col">TimeSlot</th>
					<th scope="col">Timings</th>
					<th scope="col">Delete</th>
				  </tr>
				</thead>
				<tbody>
				  <% booking.forEach((info,indx) => { %>
					<tr>
						<th scope="row"><%= indx + 1 %> </th>
						<td><%= info.stadium %></td>
						<td><%= info.city %></td>
						<td><%= info.Date.toDateString() %> </td>
						<td>
							<% if (info.Timing == 1) { %>
							6-8 am
					<% } else if (info.Timing == 2) { %>
						10-12 am
				  <% } else { %>
					2-4 pm
					<% } %> 
				  </td>
				  <td>
					<form action="/admin/booking/<%= info.Bid %>?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger">Delete</button></form> 
				</td>
				<% }) %>
					  </tr>
				</tbody>
			  </table>
		</section>
	</section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<script>

$('button.btn1').click( function() {
        $('form.staff').submit();
    });
    // $('button.maintenancebtn').click( function() {
    //     $('form.maintenance').submit();
    // });

</script>

</html>
